<div>
  <div class="d-flex gap-3">
    <a [href]="mmHumanLink">MediaMarkt</a>
    <a [href]="saturnHumanLink">Saturn</a>
  </div>
  <div>
    <input type="text" [(ngModel)]="searchFilter" (input)="filter()">
  </div>
  <div class="d-flex gap-3">
    <label [innerHTML]="'MM: ' + GetPostingCountOfSource(PostingSource.MediaMarkt)"></label>
    <label [innerHTML]="'Saturn: ' + GetPostingCountOfSource(PostingSource.Saturn)"></label>
  </div>
  <div class="d-flex gap-3">
    <div class="d-flex gap-1">
      <input type="checkbox" [(ngModel)]="showMM" (change)="filter()" id="showMM">
      <label for="showMM">MM</label>
    </div>
    <div class="d-flex gap-1">
      <input type="checkbox" [(ngModel)]="showSaturn" (change)="filter()" id="showSaturn">
      <label for="showSaturn">Saturn</label>
    </div>
  </div>
  <div class="d-flex gap-3">
    <div class="d-flex gap-1">
      <label for="sortBy">Sort by:</label>
      <select [(ngModel)]="sortBy" (change)="filter()" id="sortBy">
        <option *ngFor="let entry of enumEntries(SortBy)"
                value="{{entry[1]}}">
          {{ entry[0] }}
        </option>
      </select>
    </div>
    <div class="d-flex gap-1">
      <input type="checkbox" [(ngModel)]="ascendingSort" (change)="filter()" id="ascendingSort">
      <label for="ascendingSort">Ascending?</label>
    </div>
  </div>
</div>
<div class="d-flex flex-wrap gap-3">
  <div *ngFor="let posting of this.filteredPostings"
       class="posting"
       [class.media-markt]="posting.source == PostingSource.MediaMarkt"
       [class.saturn]="posting.source == PostingSource.Saturn"
  >
    <p>{{ posting.name }} ({{ posting.brand }})</p>
    <p>{{ posting.samePriceCount }}/{{ posting.count }}</p>
    <p><b>{{ posting.total.toFixed(2) }}€</b> ({{ posting.price.toFixed(2) }} + {{ posting.shippingCost.toFixed(2) }})
    </p>
    <img class="image" loading="lazy" src="{{posting.image}}"/>
  </div>
</div>
